<h2>¡Hola, {{name}}!</h2>
<p>Gracias por registrarte en Qr Pets.</p>
<p>Haz click en el siguiente botón para verificar tu correo o acceder a tu cuenta:</p>

<a href="{{link}}" 
   style="display:inline-block; padding:10px 20px; background-color:#ff6600; color:#fff; text-decoration:none; border-radius:5px;">
   Verificar mi cuenta
</a>

<p>Si no solicitaste esto, ignora este correo.</p>